
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* google fonts */
    font-family: "Josefin Sans", sans-serif;  
}

body {
    font-size: 16px;
}

header {
    background-color: #88e5ff;
    color: #ff0000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
  margin: 0;
  font-size: 50px;
  /*  bold font weight */
  font-weight: bold; 
  /*  shadow effect */
  text-shadow: 2px 2px 4px #442f87; 
}


nav {
    display: flex;
    gap: 10px;
}


nav a {
    color: #ff0000; 
    /* Remove underline */
    text-decoration: none; 
}

section {
    padding: 40px;
    text-align: center;
}

.home-section {
    background-color: #ffeffb;
}
.movie-details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  /* margin-left: 20px; */
}

.movie-details img {
  width: 60%; 
  height: 80%; 
  max-width: 100%; 
  max-height: none; 
  margin-top: -80px;
}


.movie-info {
  flex-grow: 1;
  text-align: left;
}

.movie-info h2 {
  font-size: 30px;
  font-weight: bold;
}

.movie-info p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

#video-container {
    position: relative;
    width: 500px; 
    height: auto; 
    margin: 0 auto;
    color: #e5b480;
    background-color:#edbe8e ;
}


#my-video {
    width: 40%;
    height: 40%;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #baebfa;
    color: rgb(255, 0, 0);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
    /* margin-left: 30px; */
}



@media (max-width: 700px) {
  /* Styles for screens smaller than 700px */

  body {
    /* Adjust the font size for smaller screens */
    font-size: 14px; 
  }

  header {
    padding: 10px;
  }

  nav {
    /* Stack navigation links vertically */
    flex-direction: column; 
    gap: 5px; 
  }

  section {
    padding: 20px; 
  }
  .movie-info h2{
    font-size: 20px;
  }
  .movie-info p{
    font-size: 15px;
  }
  #video-container {
    width: 100%; 
    height: auto; 
  }

 
}
